@use '../variables' as *;

.main-nav {

  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  

  
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {
  
  display: flex;

  > ul {
    > li {
      display: inline-block;
      padding: 10px;
    }
  }

  span {
    
  }
}

.right-nav  {

  display: flex;

  > ul {
    
    > li {
      display: inline-block;
      padding: 10px;
    }

    > li:last-of-type {
    
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    